* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: #0A4148;
    color: white;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    margin-top: 10px;
}

.container{
    display: flex;
    flex-direction: row;
}

.left-side {
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 20%;
}

.left-side input,
.left-side button {
    padding: 10px 10px;
}

.left-side h2,
.left-side input,
.left-side button{
    margin-bottom: 10px;
}

.search-container {
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid black;
}

.right-side {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-results,
.forecast{
    display: flex;
    width: 90%;
    height: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.search-results{
    flex-direction: column;
    justify-content: space-around;
    padding-left: 5px;
    border: 1px solid black;
}

.city-name {
    font-size: 50px;
}

.city-conditions{
    display: none;
    height: 50px;
    width: 50px;
}

.search-results-name-container {
    display: flex;
    flex-direction: row;
}


.forecast {
    flex-direction: row;
    justify-content: space-between;
}

.card {
    height: 200px;
    width: 175px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 20px;
}

.card img {
    height: 25px;
    width: 25px;
}